name: Quality

on:
  push:
    paths:
    - "*"
    - "!README.md"
    - "!.dockerignore"
    - "!.gitignore"
    
  pull_request:

jobs:
  golangci:
    name: GolangCI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: GolangCI
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.31
